<% content_for :content_header  do %>
    <section class="content-header">
      <h1>categoria</h1>

      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><%= link_to "Marca", categorias_path %></li>
        <li class="active">Mostrar</li>
      </ol>
    </section>
<% end %>

<section class="content invoice botones">
<p>
  <strong>Nombre:</strong>
  <%= @categoria.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @categoria.descripcion %>
</p>



  <%= link_to 'Editar', editar_categoria_url,:class =>"btn btn-warning" %>
  <%= link_to 'Atras', categorias_url,:class =>"btn btn-primary" %>
</section>